{% extends "base.html" %}
{% load static %}

{% block body %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="module">
		import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js'
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue-carousel@0.6.5/dist/vue-carousel.min.js"></script>
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="./index.html" class="site-logo">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form">
							<input type="text" placeholder="Search on divisima ....">
							<button><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="#">Sign</a> In or <a href="#">Create Account</a>
							</div>
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>0</span>
								</div>
								<a href="#">Shopping Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="{% url 'products' %}">Products</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section id="brands" class="hero-section">
		<div class="hero-slider owl-carousel" v-for="(value, index) in results.results">
				<div class="hs-item set-bg" v-bind:style="{ backgroundImage: 'url(' + value.image + ')' }">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-7 text-white">
								<span v-html="value.name"></span>
								<p v-html="value.description"></p>
								<a href="#" class="site-btn sb-white">Brand`s Products</a>
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->

	

	<script type="module">
			new Vue({
				el: '#brands',
				data() {
				return {
					results: null
				};
				},
				mounted() {
				axios
					.get(serverAddress + 'brands/')
					.then(response => (this.results = response.data));
				}
			});
	</script>

{% endblock %}
	</body>
</html>
